<!DOCTYPE html>
<html>


<body>
<h1>Enter user info</h1>
    <form action="/info" method = 'POST'>

       
            <label for="Name" class="form-label">Name</label>
            <input type="text" name="Name" required><br><br>

            <label for="Age" class="form-label">Age</label>
            <input type="number" name="Age" required ><br><br>

            <label for="City" class="form-label">City</label>
            <input type="text" name="City" required><br><br>

            <input type="submit" value="LogIn">


    </form>
</body>

</html>